[user]
	email = gui.canat@gmail.com
	name = gcanat
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[push]
  default = current

[diff]
  tool = vimdiff

[merge]
  conflictstyle = diff3
  tool = vimdiff
  prompt = false

[mergetool]
  cmd = vim -f -c "GVdiffsplit!" "$MERGED"

[alias]
  files = !git diff --name-only $(git merge-base HEAD \"$REV_BASE\")
  stat = !git diff --stat $(git merge-base HEAD \"$REV_BASE\")
  review = !vim -p $(git files) +\"tabdo noautocmd Diff $REV_BASE\"
  pfl = push --force-with-lease
[init]
	defaultBranch = main
